main {
    display: flex;
    background-color: #efefef;
}

.left-container {
    min-width: 298px;
    background-color: #cbcbcb;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 2px solid #777;
}

.right-container {
    display: flex;
    align-items: center;
}

h1 {
    align-self: flex-end;
    position: fixed;
    margin-left: 40px;
    font-family: monospace;
    color: #444;
    font-size: 60px;
}

h2 {
    margin-bottom: 0;
}

h3 {
    width: 250px;
}


article {
    margin-left: 20px;
}

span {
    font-weight: bold;
}

li {
    text-transform: capitalize;
    line-height: 25px;
}

